@import 'tailwindcss';

.btn {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-btn, 0.5rem);
  border-width: var(--border-btn, 1px);
  border-color: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  font-size: 1rem;
  line-height: 1em;
  font-weight: 600;
  text-align: center;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:active {
  transform: scale(0.97);
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}
